@import "_partials/_vars";
@import "_partials/_fonts";
@import "_partials/_mixins";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    &:active {
        color: $theme-p-white;
    }
    &:focus {
        border: none;
        box-shadow: none;
        color: $theme-p-white;
    }
}

header {
    width: 100%; //height: 3.5em;
    top: 0;
    position: absolute;
    z-index: 9;
    background: rgb(20, 20, 40);
    @include transition(0.5s, ease); //background: transparent;
    &.scrolled {
        position: fixed;
        background: $theme-black;
    }
    .container {
        height: 100%;
        padding: 0;
        font-family: 'Passion One', cursive;
        margin: auto;
        .logo {
            height: auto;
            float: left;
            margin-left: 15px;
            a {
                color: $theme-p-white;
            }
            h3 {
                padding-bottom: 0;
                font-weight: bold;
                font-size: 1.4em;
                text-transform: capitalize;
                letter-spacing: 2px;
            }
        }
    }
}

.no-color {
    background: transparent !important;
}

.nav {
    margin: 0;
    width: auto;
    margin-left: 1em;
    float: right;
    padding: 6px;
    height: auto;
    ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 18.4px;
        margin: 0;
        font-size: 1em;
        float: left;
        a {
            padding: 10px;
            color: #999;
            text-decoration: none;
            font-stretch: expanded;
            &:hover {
                color: $theme-white;
                background: none !important;
                text-decoration: none;
                border-top: 2px solid $theme-p-white;
                top: 0; //padding-top: 13.4px;
                -webkit-transition: ease 0.5s all;
                -moz-transition: ease 0.5s all;
                -o-transition: ease 0.5s all;
                transition: ease 0.5s all;
            }
            &:after {
                border-bottom: 3px solid $theme-white;
                background: $theme-blue;
                position: absolute;
                left: 0;
            }
        }
    }
}

.clearfix:after {
    clear: both;
    display: block;
}

.main-wrapper {
    margin: 3em;
}

._top {
    margin-top: 8em;
}

.landing {
    width: 100%;
    height: 60vh;
    position: relative; //background: url("/images/11.jpg") no-repeat center;
    background: rgb(20, 20, 40);
    background-size: cover;
    .inner-section {
        width: 60%;
        margin: 10% auto 0;
        height: auto;
        right: 0;
        left: 0;
        padding: 1.6em 3em;
        position: absolute;
        h3 {
            @include font-raleway;
            font-weight: bold;
            color: $theme-white;
            font-size: 4em;
            text-align: center;
        }
        article {
            text-align: center;
            line-height: 25px;
            font-family: 'Raleway', sans-serif;
            color: $theme-p-white;
        }
        .login-signup {
            text-align: center;
            margin-top: 10px;
            padding: 15px;
            .btn {
                padding: .9em 3em;
                margin: 3px;
                display: inline-block;
                outline: none;
                font-family: 'Titillium Web', sans-serif;
                border: none;
                border-radius: 50px;
                box-shadow: #111111 2px 0px 3px;
                position: relative;
                transition: 250ms ease-in-out;
                &:hover {
                    background: $theme-white;
                }
            }
            .btn-login {
                background: #279AF1;
                color: $theme-p-white;
                &:hover {
                    color: $theme-blue;
                }
            }
            .btn-up {
                background: rgb(20, 30, 30);
                color: $theme-p-white;
                &:hover {
                    color: rgb(20, 30, 30);
                }
            }
        }
    }
}

.overlay {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    baxckground: #111;
    opacity: 0.7;
    left: 0;
    right: 0;
}

section {
    position: relative;
    width: 100%;
    margin: 0;
}

.all {
    margin-top: 5em !important;
}

.row {
    margin: 0;
}

.team {
    background: $theme-p-white;
    height: 100%;
    margin: 0px auto 2px;
    padding-top: 10px;
    h3 {
        @include font-ubuntu;
        font-size: 2.5em;
        font-weight: 400;
        text-align: center;
        color: $theme-blue;
    }
    .white {
        border-bottom: 1px solid $theme-p-white !important;
    }
    .inner-team {
        position: relative;
        width: 99%;
        margin: 1% auto;
        padding: 1.23em 2em;
        .col-3 {
            width: 20.3%;
            margin: 2px 24px 0;
            display: inline-block;
            height: auto;
            border-radius: 5px;
            &:hover {
                box-shadow: none;
                @include transition(0.3s, ease);
                cursor: pointer;
            }
            @media(max-width: 768px) {
                width: 79%;
                margin: 2em auto 0;
                @include transition(100ms, ease-in-out);
            }
            .inner-body {
                padding: 0;
                background: $theme-white;
                border-radius: 5px;
                .content {
                    min-height: 250px;
                    img {
                        width: 100%;
                        height: 250px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .c-footer {
                    background: rgb(30, 40, 20);
                    color: $theme-p-white;
                    padding: .9em 1em;
                    span {
                        font-size: 14px;
                        color: $theme-white;
                        text-align: left;
                    }
                    a {
                        margin-bottom: 0;
                        text-align: center;
                        float: right;
                        &:hover {
                            color: $theme-p-white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .more {
            padding-top: 4rem;
            .btn {
                padding: .8em 2.2em;
                border-radius: 5px;
                outline: none;
                position: relative;
                border: none;
                letter-spacing: 2px;
            }
            .btn-view {
                background: $theme-black;
                color: $theme-p-white;
                &:hover {
                    //@include box-shadow(2px, 0px, 2px, 0px, $shadow-black);
                }
            }
        }
    }
}

.view-profile {
    margin-top: 7em;
    height: 100%;
    width: 100%;
}

.inner-profile {
    width: 90%;
    margin: 10px auto 10px;
    position: relative;

    .sidebar {
        padding: 10px;
        height: 100%;
        position: relative;
        box-shadow: 2px 0px 3px rgba($theme-black, .3);
        .profile-pic {
            margin: 0px auto 0px;
            width: 240px;
            height: 250px;
            img {
                background-size: contain;
                background-position: center;
                width: 100%;
                border-radius: 5px;
                background-repeat: no-repeat;
            }
        }
    }
    .basic-info {
        margin-top: 10px;
        h3 {
            font-size: 1em;
            text-align: center;
            @include font-ubuntu;
            color: $theme-blue;
            padding-bottom: 3px;
        }
        ul {
            list-style: none;
            display: block;
            padding: 5px;
            margin: 0;
        }
        li {
            padding: 15px;
            display: block;
            border-bottom: 1px solid rgba($theme-black, .2);
        }
    }
    .other-content {
        padding: 10px;
        h3 {
            font-size: 1.2em;
            margin-top: 0;
            padding-top: 0;
            text-align: center;
            @include font-ubuntu;
            color: $theme-blue;
            padding-bottom: 3px;
        }
        .about {
            padding: 5px;
            h4 {
                font-size: 1.2em;
                margin-top: 0;
                padding-top: 0;
                text-align: left;
                @include font-ubuntu;
                color: $black;
                padding-bottom: 3px;
            }
            span {
                line-height: 25px;
                font-size: 12px;
            }
            ul {
                list-style: none;
                display: inline-block;
            }
            li {
                float: right;
                padding: 10px 14px;
                box-shadow: 2px 2px 2px rgba($black,.2);
            }
        }
    }
}






/*The grid*/

.col-vp-12 {
    width: 95%;
    display: inline-block;
}

.col-v-1 {
    height: 100%;
    border-radius: 5px;  
    border: 1px solid rgba($black,.2);
    margin-bottom: 5px;
}

.col-vp-1 {
    width: 25%;
    margin: 10px;
    @media(min-width: 992px) {
        float: left;
    }
    @media(max-width: 768px) {
        width: 98%;
    }
}

.col-vp-2 {
    @extend .col-vp-1;
    width: 66%;
    @media(max-width: 768px) {
        width: 98%;
    }
}

@media only screen and (max-width:750px) {
    .body {
        height: 1300px;
    }
    /*.sidebar {
        width: 100%;
        height: 500px;
    }*/
    .bodies {
        width: 100%;
    }
    .friend {
        width: 18%;
    }
}

footer {
    bottom: 0;
    width: 100%;
    margin: 0;
    background: rgb(20, 20, 40);
    .inner-container {
        text-align: center;
        padding: 2em;
        h3 {
            color: $theme-white;
            font-size: 1em;
            text-space: 3px;
            font-weight: 500;
        }
        p {
            margin-top: 0;
            margin-bottom: 0px;
            font-size: .9em;
            color: $theme-blue;
        }
    }
}
